

stages:
  - build
  - lint
  - validate
  - test
  - deploy

variables:
  DJANGO_SETTINGS_MODULE: "WebsiteDjSND.settings"
  VENV_PATH: ".venv"

build-job:
  stage: build
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - echo "Сборка проекта"
    - python3 -m compileall .
    - echo "Сборка завершена"


lint-job:
  stage: lint
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install ruff
  script:
    - echo "Запуск линтера"
    - ruff check . || true
    - echo "Линтинг завершен"

validate-migrations:
  stage: validate
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - echo "Проверка миграций Django"
    - python3 manage.py makemigrations --check --dry-run
    - echo "Миграции валидны"

test:
  stage: test
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - echo "Проверка синтаксиса и импортов"
    - python -c "import WebsiteDjSND.settings"
    - echo "Проект работает"


